body {
        background-color: #E3F2FD;
}

.header {
        padding: 30px;
        background: #0D47A1;
        color: white;
        
        width: 95%;
        border-radius: 5px;
        text-align: center;
        font-weight: 500;
}

.content {
  padding: 16px;
}


.sticky {
  position: fixed;
  top: 0;
  width: 95%
}

.sticky + .content {
  padding-top: 102px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.nav {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s;
}

.nav a:hover {
    opacity: 0.8;
}

.wrapper {
    display: flex;
}

.nav1 {
    width: 100px;
    height: 100vh;
    background: rgb(99, 95, 208);
    transition: 0.5s ease-out;
    
}

.nav1:hover {
    width: 290px;
}
.navBar {
    padding: 1rem;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-out;
    overflow: hidden;
}

.navBar a {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-weight: 500;
    overflow: hidden;
}

.navBar a:hover {
    background: rgb(238, 237, 237);
    border-radius: 10px;
    transition: 0.3s ease-out;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    overflow: hidden;
    margin-bottom: 2rem;
}

.logo img {
    width: 65px;
    height: 65px;
}

.logo span {
    font-size: 18px;
    font-weight: bold;
    padding-left: 15px;
    overflow: hidden;
}

.profile {
    
    position: relative;
}

.logout {
    position: absolute;
    bottom: 50px;
}


.profile img {
    width: 75px;
    margin-bottom: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.mainBody {
    padding: 1.5rem 2rem;
    width: 100%;
}

.followingWrapper {
    display: flex;
    justify-content: space-between;
}

.card {
    padding: 1rem;
    border: 3px solid #fff;
    border-radius: 15px;
    width: 180px;
    background-color: aqua;
}

.card img {
    width: 50px;
    margin-bottom: 10px;
}

.card:hover {
    background: rgb(72, 72, 180);
    transition: 0.5s ease-out;
}

.card h3 {
    font-size: 2rem;
}

