body {
    font-family: 'Public Sans', sans-serif;
    background-color: #E3F2FD;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #0D47A1;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-weight: 500;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 15px;
}

.nav {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s;
}

.nav a:hover {
    opacity: 0.8;
}

.profile-box {
    background-color: #FFF;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-section {
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.action-buttons button {
    margin-right: 10px;
}

.btn-edit {
    background-color: #4CAF50;
}

.btn-delete {
    background-color: #4CAF50;
}
button:hover {
    opacity: 0.8;
}

.return-link {
    display: block;
    margin-top: 20px;
}

.valencia{
height: 100%;
width: 100%;
background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(valenciaPhoto.jpg);
background-position: center;
background-size: cover;
position: absolute;
}

.formBox{
width: 380px;
height: 480px;
position: relative;
margin: 6% auto;
background: #fff;
padding: 5px;
overflow: hidden;
border-radius: 10px;
}

.buttonBox{
width: 220px;
margin: 35px auto;
position: relative;
box-shadow: 0 0 20px 9px #ff61241f;
border-radius: 30px;
}

.toggleButton{
padding: 10px 30px;
cursor: pointer;
background: transparent;
border: 0;
outline: none;
position: relative;
}

#btn{
top: 0;
left: 0;
position: absolute;
width: 110px;
height: 100%;
background: linear-gradient(to right, #103cff, #0ed5f4);
border-radius: 30px;
transition: .5s;
}

.inputGroup{
top: 180px;
position: absolute;
width: 280px;
transition: .5s;
}

.inputField{
width: 100%;
padding: 10px 0;
margin: 5px 0;
border-left: 0;
border-top: 0;
border-right: 0;
border-bottom: 1px solid #999;
outline: none;
background: transparent;
}

.submitButton{
width: 85%;
padding: 10px 30px;
cursor: pointer;
display: block;
margin: auto;
background: linear-gradient(to right, #103cff, #0ed5f4);
border: 0;
outline: none;
border-radius: 30px;
}

#signupID{
left: 50px;
}

#loginID{
left: 450px;
}